#home {
  height: calc(100vh - 7vh);
  width: 100vw;
}

.v-dialog {
  position: absolute;
  /*left: 0;*/
}

.leaflet-popup-content {
  min-width: 250px;
  max-width: 300px;
  max-height: fit-content;
}

.leaflet-popup-close-button {
  display: none;
}

@media (min-width:320px) and (max-width:768px) {
  body {
    overflow-x:hidden !important;
  }
}