#store {
	margin: 2% 5%;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	color: #0e0b16;
	border: 2px solid #0e0b16;
	border-radius: 7px;
	overflow: hidden;
}

.sideInfo {
	width: 33%;
	float: left;
	padding-bottom: 10px;
}

.mainInfo {
	width: 66%;
	float: right;
	padding-bottom: 10px;
}

.store-title {
	margin: 0;
	padding: 2%;
	text-align: center;
	font-weight: 300;
	font-size: 2.5rem;
}

#description, #signalCustomers {
	display: flex;
	flex-direction: column;
	padding: 2%;
}

.store-info {
	margin: 2%;
	font-size: 1.2rem;
	text-align: center;
}

.store-input {
	margin: 1% auto;
	width: 30%;
	border: 2px solid #a9a9a9;
  border-radius: 7px;
	line-height: 20px;
	font-size: 0.8rem;
	transition: all 0.3s;
}

.store-input:focus {
	outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#statistics {
	padding: 2%;
}